.header {
    background-color: var(--all-bg);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);


}

.header img {
    width: 50px;
    height: 50px;
}

.header_inner {
    display: flex;
    align-items: center;
}

.logo_name {
    color: transparent;
    -webkit-background-clip: text;
	  background-image: linear-gradient(135deg, #04a8fa, #52b2e6);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
}